img {
  border-width: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
  max-width: 100%;
  height: auto;
}

main {
  padding: 1em;
}

:empty {
  display: none;
}

article {

}

[role="navigation"] {

}

[role="banner"] {

}

section {

}
